<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
  <body>
	<div th:fragment="header">
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{~/css/all.min.css}" type="text/css" media="all">
		<link rel="stylesheet" th:href="@{~/css/slick.css}" type="text/css" media="all">
		<link rel="stylesheet" th:href="@{~/css/simple-line-icons.css}" type="text/css" media="all">
		<link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="all">
	    <title>QMonada</title>
	</div>
  </body>
</html>